.register {
  min-height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .register-form {
    margin: 20px 10px;
    width: 60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    box-shadow: 7px 10px 6px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 1347px) {
      width: 75%;
    }

    @media screen and (max-width: 1076px) {
      width: 80%;
    }

    @media screen and (max-width: 1003px) {
      width: 90%;
    }

    @media screen and (max-width: 1003px) {
      width: 100%;
    }

    .left {
      flex: 1;
      // background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      //   url("../../assets/images/login.gif") center;
      background: linear-gradient(
          rgba(115, 214, 239, 0.2),
          rgba(113, 144, 248, 0.3)
        ),
        url("../../assets/images/Register2.gif") center;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      span {
        font-size: 14px;
      }

      @media screen and (max-width: 822px) {
        h1 {
          font-size: 50px;
          line-height: 50px;
        }
        p {
          font-size: 15px;
        }
      }

      @media screen and (max-width: 435px) {
        h1 {
          font-size: 40px;
          line-height: 25px;
        }
        p {
          font-size: 12px;
        }
        span {
          font-size: 12px;
        }
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
        min-width: 85px;
      }

      @media screen and (max-width: 380px) {
        h1 {
          font-size: 25px;
          line-height: 25px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        p {
          font-size: 10px;
          padding-top: 0;
          margin-bottom: 0;
        }
        span {
          font-size: 11px;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        button {
          width: 40%;
          font-size: 12px;
        }
      }

      @media screen and (max-width: 290px) {
        h1 {
          font-size: 20px;
          line-height: 0px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        p {
          font-size: 8px;
          padding-top: 0;
          margin-bottom: 0;
        }
        span {
          font-size: 8px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      p {
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 100%;
          padding: 10px;
          border: none;
          background-color: #716af2;
          color: white;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: #564df6;
            border-radius: 10px;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
